html {
  font-family: "Rubik", sans-serif;
  height: 100%;
}

body {
  background-color: lightgray;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.navbar,
footer {
  background-color: #171c1f;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #6f9fbf;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.links {
  color: #6f9fbf;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.links:hover {
  color: #254154;
}

.links:active {
  color: #12212b;
}

input:focus {
  outline: none;
}

.logo {
  text-decoration: underline;
  transition: text-decoration-color 0.3s ease-in-out;
}

.logo:hover {
  text-decoration-color: #6f9fbf;
}

img {
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

img:hover {
  transform: scale(1.05);
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.project {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.section {
  margin-bottom: 7%;
}

.entry {
  margin-top: 3%;
  margin-bottom: 3%;
}

#bottom-section {
  margin-bottom: 0%;
}

.resume {
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
